
.img3 {
  opacity: 50%;
  width:110%;
  height: auto;
  position: fixed;
    left: -50%;
    top: -20%;
  transform: rotate(90deg);
}
.img4 {
  opacity: 50%;
  width:110%;
  height: auto;
  position: fixed;
    right: -50%;
    bottom: -20%;
  transform: rotate(270deg);
}
main {
  background-color: var(--White);
  border-radius: 15px;
  position: absolute;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img1 {
  margin-bottom: 55px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img2 {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  border-radius: 50px;
}
hr {
  filter: opacity(0.4);
}
.MinTitle {
  text-align: center;
  margin: 15px;
  font-size: 24px;
  font-weight: 700;
}
.Text1 {
  color: --DarkGrayishBlue;
  font-weight: 400;
  opacity: 50%;
}
.miniConteiner {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 25px 0px 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10%;
}
.SmallestContainers {
  margin: 10px;
}
.bigLetters {
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: bolder;
}
.smallLetters {
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 10px;
  filter: opacity(0.6);
  text-align: center;
}
hr {
  opacity: 80%;
}

@media(max-width: 1440px) {


.img3 {
 
  width:60%;
  left: -15%;
  
}

.img4 {
  
  width:60%;
  right: -15%;
  
}

}